<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DYS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DYS.Properties.Settings>
            <setting name="tckn" serializeAs="String">
                <value />
            </setting>
            <setting name="passED" serializeAs="String">
                <value />
            </setting>
            <setting name="passMEB" serializeAs="String">
                <value />
            </setting>
            <setting name="browser" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="loginType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hideBrowser" serializeAs="String">
                <value>False</value>
            </setting>
        </DYS.Properties.Settings>
    </userSettings>
</configuration>